<!DOCTYPE html>
<html lang="en">
  <head>
    {% block header %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="description" content="{{ description }}" >
    <meta name="author" content="Christian und Dario" >
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <!--<link rel="icon" href="../../favicon.ico">-->

    <title> {% block title %}Room Counter{% endblock title %} </title>

    {% block css %}
    <script src="/static/fontawesome-free-5.8.1/js/all.js"></script>


    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap-4.1.0/css/bootstrap.min.css" rel="stylesheet">
    {% endblock css %}
    {% endblock header %}
  </head>

  <body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" role="navigation" style="padding:0;">

		   <!-- The following gives three lines if navbar is collapsed -->
            <div class="navbar-header">
                {% block navbar_header %}
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% endblock navbar_header %}
                <a class="navbar-brand" href="/" style="padding:0;"><img src="/static/img/SurfjudgeLogo.png" style="width: auto;height:45px"></a>
            </div>
            <div class="collapse navbar-collapse">
              <ul class="navbar-nav mr-auto">

                    {% if global_logged_in %}
                    <li class="nav-item" id='nav_item_counter'><a class="nav-link" href="/"><span class="fa fa-list"></span>&nbsp;Count People</a></li>
                    {% endif %}

                     {% if global_is_admin %}
                    <li class="nav-item" id='nav_item_results_details'><a class="nav-link" href="/not/set"><span class="fa fa-list"></span>&nbsp;Administration</a></li>
                    {% endif %}

                    {% if not global_logged_in %}
                    <li class="nav-item" id='nav_item_login'><a class="nav-link" href="/auth/login"><span class="fa fa-play-circle"></span>&nbsp;Login</a></li>
                    {% endif %}
                </ul>
                {% if global_logged_in %}
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link"><span class="fa fa-user"></span>&nbsp;{{ global_username }}</a></li>
                    <li class="nav-item" id='nav_item_logout'><a class="nav-link" href="/auth/logout"><span class="fa fa-power-off"></span>&nbsp;Logout</a></li>
                </ul>
                {% endif %}
            </div>
    </nav>


    {% block content_layout %}

        {% block content %}
        <h1> {{ message }} </h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
        {% endblock content %}
    {% endblock content_layout %}



    {% block modals %}
    {% endblock modals %}

    {% block javascript %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/jquery-3.5.1/jquery-3.5.1.min.js"></script>
    <script src="/static/vue-2.6.12/vue.js"></script>
    <script src="/static/bootstrap-4.1.0/js/bootstrap.bundle.min.js"></script>
    <script src="/static/roomcounter/js/string_format.js"></script>
    <script src="/static/roomcounter/js/websocket_client.js"></script>
    <script src="/static/reconnecting-websocket/reconnecting-websocket.js"></script>
    <!-- The following sets the current navigation item as active -->
    <script>
     $(document).ready(function() {
         window.scrollTo(0,1);
         var elem_ids = {% block nav_items %}["#nav_item_home"]{% endblock nav_items %};
         for (i=0; i<elem_ids.length; i++){
             $(elem_ids[i]).addClass("active");
         }
     });
    </script>
    {% endblock javascript %}

    {% block modal_javascript %}
    {% endblock modal_javascript %}

  </body>
</html>
