{% extends "base.html" %}

{% block title %}Awesome Room Counter{% endblock title %}
{% block nav_items %}["#nav_item_counter"]{% endblock nav_items %}

{% block javascript %}
{{ super() }}
<script src="/static/roomcounter/js/roomcounter.js"></script>

<script>
  new Vue({
      el: "#roomcounter",
      data: {
          door_id: null
      },
      methods: {
          set_door: function(door_id) {
              this.door_id=door_id;
          },
      },
  })
</script>
{% endblock javascript %}

{% block content %}
<div id="roomcounter">
  <doors-dropdown v-on:selected="set_door"></doors-dropdown>
  <room-counter ws_url="{{ ws_protocol }}{{ domain }}/websockets/" v-if="door_id !== null" v-bind:door_id="door_id"></room-counter>
</div>

{% endblock content %}
